//colors
$primary-900: #004b45;
$primary-700: #027151;
$primary-500: #049E53;
$primary-300: #5DE187;
$secondary-100: #FEF7D0;
$secondary-500: #F5BD17;
$secondary-700: #B07E0B;
$secondary-900: #754D04;
$ui-00: #FFFFFF;
$ui-50: #F9FAFB;
$ui-100: #F3F4F6;
$ui-200: #E5E7EB;
$ui-300: #D1D5Db;
$ui-400: #9CA3AF;
$ui-500: #6B7280;
$ui-600: #4B5563;
$ui-700: #374151;
$ui-800: #1F2937;
$ui-900: #111827;


//Shdadows 
$shadow: #C4C4C4;